.newsletter{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #807181,#b8d3d2, #dae2dd22 90%);
    gap: 30px;
}

.newsletter h1{
    color:#231e1e;
    font-size: 52px;
    font-weight: 500;
}

.newsletter p{
    color:#454545;
    font-size: 20px;
    font-weight: 500;
}

.newsletter div{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 510px;
    height: 50px;
    border-radius: 80px;
    border: 1px solid#e3e3e3;
}

.newsletter input{
    width: 550px;
    margin-left: 30px;
    border: none;
    color: gray;
    font-family: poppins;
    font-size: 16px;
}

.newsletter div button{
    width: 200px;
    height: 50px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}