.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: -5px;
    margin-bottom: -40px;
}

.footer-logo p{
    color: black;
    font-size: 50px;
    font-weight: bold;
}

.footer-links{
    display: flex;
    list-style: none;
    gap: 30px;
    color: black;
    font-size: 20px;
}

.footer-links li{
    cursor: pointer;
}

.footer-social-icon{
    display: flex;
    gap: 5px;
}

.footer-icon-container{
    display: flex;
    width: 45px;
    background: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    
    
}

.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
    color: black;
    font-size: 20px;
}

.footer-copyright hr{
    width: 900px;
    border: none;
    border-radius: 10px;
    height: 1px;
    background: gray;
}

.footer-icon-container img{
    width:70%;
    padding: 6px;
    margin-bottom: -2px;
    cursor: pointer;
     
}