.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 190vh;
}

.popular h1{
    margin-top: 550px;
    color: #171717;
    font-size: 50px;
    font-weight: 500;
}

.popular hr{
    width: 200px;
    border-radius: 40px;
    background: #100f0f;
}

.popular-item{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
}