.descriptionbox{
    margin: 50px 50px;
}

.descriptionbox-navigator{
    display: flex;
}

.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid gray;
}

.descriptionbox-nav-box.fade{
    background: rgba(246, 244, 244, 0.511);
    color: black;
}

.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 2px;
    margin-top: 10px;
    padding-bottom: 20px;
    font-style: oblique;
    background: rgba(255, 255, 255, 0.176);
    border: 1px solid slategrey;
}