.breadcrum{
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    font-weight: bold;
    margin: 2px 30px;
    text-transform: capitalize;
}

.breadcrum img{
    margin-top: 1px;
    width: 60px;
    height: 20%;
    margin-left:-20px;
    margin-right: -20px;
}