.navbar{
    height: 100px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 1px 3px -2px black;
}

.logo-img, .cart-img{
    width: 100px;
    height: 100px;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p{
    color:black;
    font-size: 30px;
    font-weight: bold;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: rgba(15, 15, 16, 0.893);
    font-size: 20px;
    font-weight: 600px;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
    /* Red line below Shop */
.nav-menu hr{
    border: none;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: red;
}

    /* LOGIN */
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button{
    width: 150px;
    height: 40px;
    outline: none;
    border: 2px solid rgb(123, 111, 111);
    border-radius: 75px;
    color: rgb(54, 34, 34);
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-login-cart button:active{
    background: rgb(239, 234, 234);
    border: 2px solid rgb(58, 48, 48);

}

.nav-login-cart button:hover{
    background: rgb(224, 218, 218);
    color: rgb(110, 19, 201);
    border: 2px solid rgb(58, 48, 48);

}

.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -34px;
    margin-left: -75px;
    border-radius: 12px;
    font-size: 14px;
    background: rgb(227, 21, 28);
    color: white;
    font-weight: 500px;
}