.hero{
    height: 100px;
    background: linear-gradient(180deg, #807181,#b8d3d2, #dae2dd22 90%);
    display: flex;
}

.hero-left{
    flex: 1;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
    padding-left: 180px;
    line-height: 1;

}

.hero-left-hand{
    color: #090900;
    margin-top: 200px;
    font-size: 25px;
    font-weight: 500;
    color: rgb(16, 1, 1);
    margin-bottom: 30px;
}

.hero-left p{
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}

.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img{
    width: 90px;
    margin-left: -20px;
}

.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    background: rgb(156, 40, 40);
    color: white;
    font-size: 22px;
    font-weight: 600;
    margin-top: 40px;
}

.hero-latest-btn img{
    width: 100px;
    margin-left: -35px;
    margin-right: -25px;
    
}

.Latest-collect{
    font-size: 25px;
    padding-right: -5px;
}

.hero-right {
    margin-top: 300px;
    flex: 1.3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-girl{
    width: 400px;
    height: auto;
}