.cartitems{
    margin: 100px 170px;
}
.cartitems hr{
    height: 3px;
    background: white;
    border: 0;
}

.cartitems-format-main{
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: dimgrey;
    font-size: 18px;
    font-weight: 600;
}

.removeCart-icon{
    width: 30px;
    height: auto;
    margin-left: -5px;
    margin-top: 10px;
    cursor: pointer;
}

.cartitems-format{
    font-size: 17px;
    font-weight: 500;
}

.carticon-product-icon{
    height: 100px;
}

.cartitems-quantity{
    width: 44px;
    height: 40px;
    border: 2px solid gray;
    background: white;
    
}

.cartitems-down{
    display: flex;
    margin: 100px 0px;
}

.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.cartitems-total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: red;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 600;
}

.cartitems-promocode p{
    font-size: 18px;
    color: rgb(10, 11, 11);
}

.cartitems-promobox{
    width: 404px;
    margin-top: 17px;
    padding-left: 20px;
    height: 40px;
    background: rgba(204, 202, 198, 0.84);
}

.cartitems-promocode span{
    color: brown;
    border-radius: 3px;
    cursor: pointer;
}

.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    width: 330px;
    height: 40px;
}

.cartitems-promobox button{
    width: 70px;
    height: 42px;
    font-size: 18px;
    font-weight: 500;
    background: black;
    color: white;
    cursor: pointer;
    margin-right: -100px;
    margin-top: -2px;
    
}