.productdisplay{
    display: flex;
    margin: 0px 30px;
    gap: 20px;
}

.productdisplay-left{
    display: flex;
    gap: 30px;

}

.productdisplay-image-list{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 100px;
    gap: 5px;

}

.productdisplay-image-list img{
    display: grid;
    height: auto;
    width: 130px;
    margin-right: 5px;
}

.productdisplay-main-img{
    width: 543px;
    height: auto;
    margin-left: 140px;


    
}
.productdisplay-image{
    margin-top: -102px;
}

.productdisplay-right{
    margin-top: -11px;
    margin: -25x 10px;
    display: flex;
    flex-direction: column;
}

.productdisplay-right h1{
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.productdisplay-right-star{
    display: flex;
    align-items: center;
    width: 10px;
    margin-top: 10px;
    gap: 6px;
    color: rgb(29, 10, 235);
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    
}

.productdisplay-right-star img{
    width: 20px;
    height: auto;
}

.productdisplay-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 30px;
}

.productdisplay-right-old-price{
    color: rgba(14, 8, 2, 0.511);
    text-decoration: line-through;
}

.productdisplay-right-new-price{
    color: rgb(87, 3, 3);
    font-weight: bold;
}

.productdisplay-right-size h1{
    margin-top: 15px;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.productdisplay-right-sizes{
    display: flex;
    margin: 20px 0px;
    gap: 20px;
}

.productdisplay-right-sizes div{
    padding: 10px;
    background: rgba(213, 212, 212, 0.429);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.productdisplay-right button{
    padding: 10px 20px;
    width: 150px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background: rgb(54, 26, 83);
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.productdisplay-right-category{
    margin-top: 10px;
}

.productdisplay-right-category span{
    font-weight: bold;
}
